[submodule "bundle/fugitive"]
	path = vim/.vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/airline"]
	path = vim/.vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-colorschemes"]
	path = vim/.vim/bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "bundle/vim-scala"]
	path = vim/.vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/vimwiki"]
	path = vim/.vim/bundle/vimwiki
  url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/vim-graphql"]
	path = vim/.vim/bundle/vim-graphql
	url = https://github.com/jparise/vim-graphql
[submodule "bundle/typescript-vim"]
	path = vim/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "bundle/vim-elixir"]
	path = vim/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/.vim/bundle/alchemist"]
	path = vim/.vim/bundle/alchemist
	url = https://github.com/slashmili/alchemist.vim
[submodule "vim/.vim/bundle/vim-css-color"]
	path = vim/.vim/bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
